.dash-side-bar {
    background-color: cornflowerblue;
    color: #fff;
    font-size: 24px;
    width: 18vw;
    height: 100vh;
    z-index: 1;
}

.icon{
    margin: 40px;
    width: min-content;
}
.main-screen {
    background-color: #fff;
    color: black;
    text-align: center;
    width: 82vw;
    height: 100vh;
}

.dash-nav-link {
    height: 85%;
    margin: 60px 40px auto 40px;
    display: flex;
    flex-direction: column;
}

.dash-links {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.dash-link-icon {
    margin-right: 10px;
}

/* main-screen */

.dash-nav {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 15px 40px;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.graph-1 {
    height: 45vh;
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 8px black;
    border-radius: 10px;
}

.graph-2 {
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    margin: 20px;
    padding: 5px;
}

.blocked-ip {
    width: 80%;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.graph-2 img {
    height: 100%;
    width: 80%;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin-left: 20px;
}